# Visual Studio
.vs
obj\Debug
bin\Debug
/out/production/Prog/GUI/Task3/Launcher$1.class
/out/production/Prog/GUI/Task3/Launcher.class
/out/production/Prog/SelectTaskMenu$1.class
/out/production/Prog/SelectTaskMenu$2.class
/out/production/Prog/SelectTaskMenu$3.class
/out/production/Prog/SelectTaskMenu.class

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDE
.idea/
*.iml
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db